@import "highlight.js/styles/base16/solarized-light.css" screen;
@import "highlight.js/styles/base16/solarized-dark.css" screen and (prefers-color-scheme: dark);


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Markdown styling for page contents */

.markdown h1 {
  @apply mt-4;
  @apply text-4xl;
  @apply font-semibold;
}

.markdown h2 {
  @apply mt-4;
  @apply text-2xl;
  @apply font-semibold;
}

.markdown h3 {
  @apply mt-4;
  @apply text-xl;
  @apply font-semibold;
}

.markdown p {
  @apply py-2;
  @apply leading-7;
  @apply font-normal;
}

.markdown a {
  @apply text-blue-700;
  @apply dark:text-blue-300;
}

.markdown p code {
  @apply text-red-500;
  @apply dark:text-red-300;
}

.markdown ul code {
  @apply text-red-500;
  @apply dark:text-red-300;
}

.markdown li code {
  @apply text-red-500;
  @apply dark:text-red-400;
}

.markdown ol {
  @apply list-decimal;
  @apply px-4;
  @apply py-2;
}

.markdown ul {
  @apply list-disc;
  @apply px-4;
  @apply py-2;
}